@charset "UTF-8";
@font-face {
    font-family: android;
    src: url(/pacote-projeto-d010/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&display=swap');


:root{
    --cor00: #d0e9e9;
    --cor01: #01573E;
    --cor02: #014D22;
    --cor03: #014057;
    --cor04: #01254D; 

    --android: android, Arial, Helvetica, sans-serif;
    --padrao: Arial, Helvetica, sans-serif;
    --principal: 'Bebas Neue', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor00); 
    font-family: var(--padrao);    
}

header{
    background-image: linear-gradient( to top, var(--cor04), var(--cor01));
    /* width: 99.25%; */
    height: 200px;
    padding: 5px; 
    border-radius: 0px 0px 5px 5px;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.404); 
}
header > h1{
    color: white;
    width: 700px;
    height: 50px;
    padding: 20px 10px;
    margin: auto;
    font-family: var(--principal);
    font-size: 2.5em;
    font-weight: normal;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.404);   
}
header > p{
    color: white;
    width: 600px;
    height: 50px;
    margin: auto;
    padding: 10px;
    font-size: 1.2em;
    font-family: var(--padrao);
    font-weight: bold;    
}
header > nav{
    margin: 15px 0px 5px 0px;
}
header a{
    color: var(--cor01);
    text-decoration: none;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--cor04);
    font-weight: bold;
    font-family: var(--padrao);
}
header a:hover{
    background-color: var(--cor01);
    color: var(--cor04);
    font-weight: bolder;
}

main{
    width: 900px;
    margin: auto;
    padding-top: 15px;
    border-radius: 0px 0px 5px 5px; 
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.233);
}
main  h1{
    font-family: var(--android);
    font-size: 1.6em;
    padding: 10px;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.274);
    background-image: linear-gradient(to right, var(--cor03), var(--cor02), transparent);
}
main p{
    text-align: justify;
    padding: 10px;
    text-indent: 20px;
    font-size: 1.1em;
    font-family: var(--padrao);
    
}
main h2{
    padding: 10px;
    font-family: var(--android);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.274);
    background-image: linear-gradient(to right, var(--cor03), var(--cor02), transparent);
}
main a{
    background-color: var(--cor00);
    color: var(--cor01);
    text-decoration: none;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 10px;
}
main a:hover{
    background-color: var(--cor01);
    color: var(--cor00);
    border: 1px solid var(--cor04);
}
.imagem{
    /* aqui faz a imagem ocupar 100% de largura */
    width: 900px;
    
}
main img{
width: 900px;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video{
    background-color: var(--cor04);
    /* margin: 0px 0px 30px 0px; */
    margin-bottom: 30px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    width: 850px;
    margin: auto;
    border: 1px solid var(--cor03);
    border-radius: 11px 11px 0px 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.445);
}
aside > h2{
    background-color: var(--cor04);
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    margin-left: 10px;
}
main strong{
    font-weight: bold;
    color: var(--cor01);
}
footer{
    background-image: linear-gradient( to top, var(--cor04), var(--cor01));
    margin: 5px 0px;
    padding-top: 10px;
}
footer p{
    color: var(--cor00);
    font-weight: bold;
    height: 30px;
    width: 4500px;
    margin: auto;
    text-align: center;   
}
footer a{
    text-decoration: none;
    color: var(--cor01);
    padding: 3px 5px;
    font-weight: bold;
}